<Configuration status="warn">
    <Appenders>
        <!--  Console appender configuration  -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.demoblaze" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.apache.hc" level="WARN"/>

        <Logger name="org.openqa.selenium" level="WARN"/>

        <Logger name="io.github.bonigarcia" level="WARN"/>

        <Root level="INFO">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>